<div class="container">
    <div class="row">
    {{#each classes}}
    <div class="col-md-4" >
        <div class="single-item course_single_area"> 
            <div class="single-item-text">
                <h2>{{title}} </h2>
            </div>
        <div class="single-item-text-info">
            <div class="course-instructor">
        By:  <span> {{code}} </span>  </div>

        </div>
         {{instructor}} 
         {{code}}
        <p> {{description}} </p>
        <div class="button-bottom">
            <p><a class="button-default" href="/classes/{{_id}}/details" role="button">View details &raquo;</a></p>
    
        </div>
      </div>
    </div> 
    {{/each}}
  </div>
</div>

<!--NEW STYLES-->

<div class="kc-elm kc-css-220182 kc_col-sm-12 kc_column kc_col-sm-12"><div class="kc-col-container">   
  <div class="kc-elm kc-css-731903 ">
    <div class="section-title-wrapper text-center">
      <div class="section-title">
        <h3>POPULAR COURSES</h3><p>There are many variations of passages of Lorem Ipsum</p>
        </div>
      </div>
    </div>
    <style>
      .kc-elm.kc-css-731903 .section-title-wrapper::after {
        background: 
        rgba(0, 0, 0, 0)
        url("http://demo.wphash.com/educat/wp-content/uploads/2018/05/cap-dark.jpg") 
        no-repeat scroll 0 0;
       }
       </style>
<div class="kc-elm kc-css-590534 ">
    <div class="row">
         <div class="col-md-4 col-lg-4 col-sm-6">
             <div class="single-item course_single_area">
                 <div class="single-item-image overlay-effect">
                     <a href="http://demo.wphash.com/educat/courses/learning-sass/">
                     <img width="400" height="250" src="http://demo.wphash.com/educat/wp-content/uploads/2018/05/course-6-400x250.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Learning SASS"></a>
                     </div>
                     <div class="single-item-text">
                         <h4><a href="http://demo.wphash.com/educat/courses/learning-sass/">Learning SASS</a></h4>
                         <div class="single-item-text-info">
                             <span class="course-instructor">
                                By: <span><a href="http://demo.wphash.com/educat/profile/educat/">Zenaul Islam</a></span></span>
<span class="course-time"> Date: <span class="course-date">May 01, 2018</span></span>                                    </div>
                                    
<div class="course-introduce">
	<p>There are many varians of sages of Lorem Ipsum available, but the mrity have suffered alteration in soe orm, by injected humour,There are many buthe mri have suffered alteration in some</p>
</div>
<div class="price_student_count">                                        
<span class="course-students">
	One student enrolled
</span>
<span class="course-price">
    <span class="price">Free</span></span>
    </div>
    <div class="single-item-content">
        <div class="single-item-comment-view">
            <span><i class="zmdi zmdi-eye"></i>
            446</span>
            <span><i class="zmdi zmdi-comments"></i>
            <a href="http://demo.wphash.com/educat/courses/learning-sass/#comments" class="comments-link">2</a>
            </span>
            </div>
         <div class="single-item-rating">
        <i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i>    </div>

                                    </div>   
                                </div>
                                
<div class="button-bottom">
    <a href="http://demo.wphash.com/educat/courses/learning-sass/" class="button-default">Learn Now</a>
</div>                            </div>
                            
                        </div>
                                               <div class="col-md-4 col-lg-4 col-sm-6">

                            <div class="single-item course_single_area">
                                
<div class="single-item-image overlay-effect">
    <a href="http://demo.wphash.com/educat/courses/learn-php5/"><img width="400" height="250" src="http://demo.wphash.com/educat/wp-content/uploads/2018/05/course-3-400x250.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Learn PHP5"></a>
</div>                                <div class="single-item-text">
                                    <h4><a href="http://demo.wphash.com/educat/courses/learn-php5/">Learn PHP5</a></h4>
                                    <div class="single-item-text-info">
                                        <span class="course-instructor">
    By: <span><a href="http://demo.wphash.com/educat/profile/educat/">Zenaul Islam</a></span></span>

<span class="course-time">
    Date: <span class="course-date">May 01, 2018</span></span>                                    </div>
                                    
<div class="course-introduce">
	<p>There are many varians of sages of Lorem Ipsum available, but the mrity have suffered alteration in soe orm, by injected humour,There are many buthe mri have suffered alteration in some</p>
</div>
                                    <div class="price_student_count">
                                        
<span class="course-students">

	One student enrolled
</span>

<span class="course-price">

			        <span class="price">$36.00</span>
	
</span>                                    </div>
                                    <div class="single-item-content">
                                       <div class="single-item-comment-view">
                                                                                           <span><i class="zmdi zmdi-eye"></i>
                                                    457                                               </span>
                                                                                       <span><i class="zmdi zmdi-comments"></i>
                                                <a href="http://demo.wphash.com/educat/courses/learn-php5/#comments" class="comments-link">1</a>                                            </span>
                                       </div>
                                                                            </div>   
                                </div>
                                
<div class="button-bottom">
    <a href="http://demo.wphash.com/educat/courses/learn-php5/" class="button-default">Learn Now</a>
</div>                            </div>
                            
                        </div>
                                               <div class="col-md-4 col-lg-4 col-sm-6">

                            <div class="single-item course_single_area">
                                
<div class="single-item-image overlay-effect">
    <a href="http://demo.wphash.com/educat/courses/illustrator-cc-2018/"><img width="400" height="250" src="http://demo.wphash.com/educat/wp-content/uploads/2018/05/course-5-400x250.jpg" class="attachment-course_thumbnail size-course_thumbnail wp-post-image" alt="Illustrator CC 2018"></a>
</div>                                <div class="single-item-text">
                                    <h4><a href="http://demo.wphash.com/educat/courses/illustrator-cc-2018/">Illustrator CC 2018</a></h4>
                                    <div class="single-item-text-info">
                                        <span class="course-instructor">
    By: <span><a href="http://demo.wphash.com/educat/profile/educat/">Zenaul Islam</a></span></span>

<span class="course-time">
    Date: <span class="course-date">May 01, 2018</span></span>                                    </div>
                                    
<div class="course-introduce">
	<p>There are many varians of sages of Lorem Ipsum available, but the mrity have suffered alteration in soe orm, by injected humour,There are many buthe mri have suffered alteration in some</p>
</div>
                                    <div class="price_student_count">
                                        
<span class="course-students">

	No student enrolled
</span>

<span class="course-price">

			        <span class="price">$56.99</span>
	
</span>                                    </div>
                                    <div class="single-item-content">
                                       <div class="single-item-comment-view">
                                                                                           <span><i class="zmdi zmdi-eye"></i>
                                                    119                                               </span>
                                                                                       <span><i class="zmdi zmdi-comments"></i>
                                                <a href="http://demo.wphash.com/educat/courses/illustrator-cc-2018/#respond" class="comments-link">No comments</a>                                            </span>
                                       </div>
                                                                            </div>   
                                </div>
                                
<div class="button-bottom">
    <a href="http://demo.wphash.com/educat/courses/illustrator-cc-2018/" class="button-default">Learn Now</a>
</div>                            </div>
                            
                        </div>
                                       <div class="col-md-12 col-sm-12 text-center">
                    <a href="http://demo.wphash.com/educat/courses/" class="button-default button-large">
                        Browse All Courses<i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </div>
                        </div>
                    </div>
        </div></div>


<!--END OF NEW COURSES-->


<!-- ############################################################################################################-->
<!-- NUMBERS-->
<section class="kc-elm kc-css-416798 kc_row fun-factor-area" deluminate_imagetype="jpg">
    <div class="kc-row-container  kc-container banner">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-584763 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <div class="kc-elm kc-css-984691 ">
                        <div class="section-title-wrapper text-center">
                            <div class="section-title">
                            <h3>IMPORTANT FACTS</h3>
                            <p>There are many variations of passages of Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="kc-elm kc-css-618076 kc_row kc_row_inner">
                        <div class="kc-elm kc-css-637713 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="kc-elm kc-css-60639 ">
                                    <div class="single-fun-factor">
                                        <h4>Teachers</h4><h2><span class="counter">79</span>%</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="kc-elm kc-css-867330 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                <div class="kc_wrapper kc-col-inner-container">
                                    <div class="kc-elm kc-css-952300 ">
                                        <div class="single-fun-factor">
                                            <h4>Members</h4><h2><span class="counter">120</span>+</h2> 
                                        </div>
                                    </div>
                                </div>
                                <div class="kc-elm kc-css-767320 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                    <div class="kc_wrapper kc-col-inner-container">
                                        <div class="kc-elm kc-css-813839 ">
                                            <div class="single-fun-factor">
                                                <h4>Courses</h4><h2><span class="counter">36</span>%</h2>
                                                </div>
                                            </div>
                                        </div>
                                <div class="kc-elm kc-css-67287 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                                    <div class="kc_wrapper kc-col-inner-container">
                                        <div class="kc-elm kc-css-278529 ">
                                            <div class="single-fun-factor">
                                                <h4>Countries</h4>
                                                <h2><span class="counter">20</span>+</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>